.git
.github
.phpunit.cache
.DS_Store
.env.local
.env.*.local
.env.dev
.env.test
var/
vendor/
tests/
docs/
public/assets/
public/_adminer.php
public/adminer.php
public/adminer-plugins.php
public/adminer-plugins/
node_modules/
*.md
!README.md
